{% extends "base.html" %} {% block content %}
<div class="status">
  <div class="container">
    <p class="form-toggle">
      Already have an account?
    </p>
    <a href="{{url_for('login')}}">Sign in</a>
  </div>
</div>
<div class="main">
  <h2>Sign up</h2>
  <p class="form-instructions">
    Sign up to search for books and leave reveiws
  </p>
  <form class="register-form" method="post">
    <div class="wrapper">
      <label for="username">Username</label>
      <p><input type="text" name="username" id="username" /></p>
      <label for="password">Password</label>
      <p><input type="password" name="password" id="password" /></p>
      <label for="password">Confirm Password</label>
      <p><input type="password" name="re_enter" id="re_enter" /></p>
      <button>Login</button>
    </div>
  </form>
</div>
{% endblock %}
